/* Registration Page  */

#registration-page {
  position: relative;
  height: 100vh;
  background-image: url("/public/images/section-image-1.png");
  background-size: cover;
  background-position: center;
  padding-bottom: 1200px;
}
.registration-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

.registration-form h2 {
  color: var(--primary-color);
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}

.password-requirement span {
  color: var(--primary-text);
}
.password-requirement ul li {
  font-size: 14px;
  list-style-type: disc;
  color: var(--secondary-text);
}

.terms-and-conditions label {
  font-size: 12px;
  color: var(--primary-text);
}
.terms-and-conditions span {
  color: var(--secondary-color);
}

.register-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.register-input-group input {
  width: 100%;
  padding: 0.5rem;
}

.register-input-group label {
  color: var(--primary-color);
  font-weight: 600;
}

.register-input {
  border: 1px solid var(--secondary-color);
  padding: 2px;
  border-radius: 10px;
}

.register-input-group .input-group {
  border: 1px solid var(--secondary-color);
  padding: 2px;
  border-radius: 10px;
}

.register-group-text {
  border: none !important;
  background: transparent !important;
  padding: 0.375rem 0.5rem;
}

.register-button .btn-register {
  padding: 5px 40px;
  background-color: var(--primary-color);
  color: white;
  font-size: 18px;
  font-weight: 300;
  border-radius: 20px;
  transition: color 0.3s;
  font-weight: 600;
}

.register-button .btn-register:hover {
  padding: 5px 40px;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: 600;
}
input[type="date"] {
  color: var(--primary-text);
  font-size: 16px;
}

@media (max-width: 767.98px) {
  /* Registration Mobie screen  */

  .registration-form {
    padding: 1.5rem;
    max-width: 320px;
    margin-top: 70px;
  }

  .registration-form h2 {
    color: var(--primary-color);
    font-size: 22px;
  }

  .password-requirement span {
    font-size: 14px;
  }
  .password-requirement ul li {
    font-size: 12px;
  }

  .terms-and-conditions label {
    font-size: 11px;
  }

  .register-input-group {
    margin-bottom: 0.5rem;
  }

  .register-input-group label {
    font-size: 14px;
  }

  .register-button .btn-register {
    font-size: 14px;
  }
}
